#event-section{
    min-height: 100vh;
    background-color: var(--color-idp-300);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idp-event-logo{
    width: 3em;
}

.event-container img{
    width: 12em;
}

.event-container{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-container p {
    text-align: center;
    color: white;
}

.event-container .no-button{ 
    display: flex;
    flex-direction: row;
}