.equipaments-svg{
    width: 2em;
}

.name{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.category{
    display: flex;
    flex-direction: row;
}

.product{
    display: flex;
    flex-direction: row;
}

.collum-category{
    width: 33%;
}

.collum-qtd{
    width: 33%;
}

.equipament-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 2em;
    cursor: pointer;
}

.collum-name{
    width: 33%;
}